#install-page{
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    overflow: scroll;
    position: relative;

}

#install-h{
    margin-top: 10%;
    font: 40pt "Roboto medium";
    color: white;
    width: 100%;
    text-align: center;
}



#install-pages{
    width: 100%;

}





