#install-page {
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    position: relative;

}

#install-scroll {
    overflow-y: scroll;
    position: relative;
    width: 100%;
    height: 100%;

}

#install-in {
    width: 100%;
    height: 100%;
    position: absolute;
}


#install-h {
    margin-top: 10%;
    font: 40pt "Roboto medium";
    color: white;
    width: 100%;
    text-align: center;
}


#install-pages {
    width: 100%;

}





