#example-page {
    width: 100vw;
    height: 100vh;
    background: var(--bg);
}



#example-buttons{
    margin: 5% 0;
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}