#example-page {
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow: scroll;
}

#example-scroll{
    width: 100%;
    overflow-y: auto;
}


#example-buttons{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}