#install-first-page {
    margin-top: 10%;
    width: 100%;
    overflow-y: auto;

}


#install-first-h {
    font: 30pt "Roboto";
    color: white;
    width: 100%;
    text-align: center;
}

#install-first-body {
    margin-top: 5%;
    width: 50%;
    flex: 1 1 auto;
    background: var(--fg);
    position: relative;
    left: 25%;
    border-radius: 20px;
    padding: 1%;

}
