.chapter-page{
    padding-top: 5%;
    position: relative;
    width: 100%;
    height: 120%;
    margin-top: 2%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*gap: 10%;*/
}

.chapter-name{
    font: 25pt "Roboto medium";
    color: white;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.chapter-lessons{
    width: 100%;
    /*height: fit-content;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.chapter-flex{
    width: 70%;
    left: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
}