.chapter-page{
    padding-top: 5%;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.chapter-name{
    font: 25pt "Roboto medium";
    color: white;
    margin-bottom: 2%;
}

.chapter-lessons{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
}