#learn-first-page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#learn-code {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -4%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#learn-code-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--bg));
    z-index: 11;
}

#learn-code-filter2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(23, 63, 102);
    z-index: 0;
}

#learn-code * {
    font-size: 35pt;
}

#learn-start {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#learn-start-menu {
    position: relative;
    width: 30%;
    height: 70%;
    border-radius: 20px;
    border: 1px solid var(--subtitle);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5%;
    backdrop-filter: blur(4px);
z-index: 20;
}

#learn-start-menu-bg {
    background: var(--bg);
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#learn-start-title {
    color: white;
    font: 30pt "Roboto";
    margin-top: 35%;
    z-index: 20;
}

#learn-start-subtitle {
    color: var(--subtitle);
    font: 20pt "Roboto Light";
    z-index: 20;
}

#learn-start-continue {
    width: 75%;
    height: 15%;
    background: var(--fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    font: 15pt Roboto;
    margin-top: 5%;
    z-index: 20;
}

#learn-first-info {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    gap: 30%;
}

.learn-first-info {
    width: 20%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5%;
}

.learn-first-info-circle {
    flex: 0 0 10%;
    aspect-ratio: 1/1;
    border: 2px solid var(--subtitle);
    border-radius: 100%;
}

.learn-first-info-p {
    width: 80%;
}