#learn-second-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#learn-second-annotation{
    color: white;
    width: 40%;
    height: 10%;
    background: var(--fg);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#learn-second-literature{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#learn-second-playground{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 20%;
    gap: 15%;
}
#learn-second-playground-p{
    color: var(--subtitle);
    font: 15pt "Roboto Light";
}

#learn-second-bt{
    width: 50%;
}

.learn-second-book{
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &>img{
        width: 100%;
    }
}