
:root {
  --bg: #131313;
  --fg: #252525;
  --subtitle: #BABABA;
  --button: #043981;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
}
button{
  outline: none;
  border: 0 solid;
}
input{
  outline: none;
  border: 0 solid;
}

html,body{
  height: 100vh;
  width: 100vw;
  position: relative;
}
