#lesson-page{
    width: 100vw;
    height: 100vh;
    background: var(--bg);

}
#lesson-content{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    overflow-x:visible;
}


#lesson-main{
    width: 85%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    overflow-x:visible;
    z-index: 20;
}

#lesson-title{
    margin-top: 5%;
    margin-left: 5%;

    font: 30pt "Roboto medium";
    color: white;
}

#lesson-text{
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    /*font: 17pt "Roboto Light";*/
    width: 70%;
    line-height: 1.5;
    & pre{
        margin: 2% 0;
        border-radius: 15px;
    }
    & code{
        font-family: "JetBrains Mono", monospace;


    }

    & p, h1{
        margin-top: 2%;

    }
    & p{
        text-indent: 1em;
    }
    & ul{
        margin: 3% 0;
        gap: 10%;
        display: flex;
        flex-direction: column;
    }

    & li{
        list-style-type: disc;
        list-style-position: inside;
        margin-bottom: 1%;

    }

}

.code-dark{
    margin: 2% 0;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding:1%;
    background: #090909;
}



#lesson-buttons{
    width: 100%;
    height: 15%;
    margin: 10% 0;

    gap: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}


#lesson-bt1, #lesson-bt2{
    width: 25%;
    height: 60%;
    &>button{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}