.aspect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: transparent;
    width: 30%;
    height: 50%;
    gap: 18%;
    padding: 1%;
    transition: all 0.2s;
    border: 1px solid transparent;;
    border-radius: 30px;
    &:hover{
        background: #202020;
        backdrop-filter: blur(100px);
    }
}

.aspect-title{
    font: 25pt "Roboto medium";
    color: white;
}

.aspect-text{
    width: 60%;
    font: 15pt "Roboto Light";
    color: white;
}