.button2 {
    border-radius: 20px;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border: 1px solid #BABABA;
    display: flex;

    & > button {
        background: transparent;
        color: white;
        width: 100%;
        height: 100%;
        font-size: 20pt;
        transition: 0.2s all;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;

        &:hover {
            cursor: pointer;
        }
    }

    transition: all 0.2s;

    &:hover {
        border: 1px solid white;

    }
}

.button2-d {
    border-radius: 20px;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border: 1px solid black;

    & > button {
        background: transparent;
        color: black;
        width: 100%;
        height: 100%;
        font-size: 20pt;
        transition: 0.2s all;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;

        &:hover {
            cursor: pointer;
        }
    }


    transition: all 0.2s;

}


.button2-image-in {
    height: 90%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > img {
        width: 90%;
    }
}


.button2-br{
    border: none !important;
}