.button{
    min-width: 256px;
}

.button > button {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 20px;
    padding: 0;
    background: none;
    cursor: pointer;
    overflow: hidden;

}


.button > button .button-bg {
    position: absolute;
    inset: 0;
    background: var(--button);
    transition: opacity 0.1s ease;
    z-index: 0;
}

.button *{
    text-decoration: none;
}

.button > button .button-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--button-hov);
    opacity: 0;
    transition: opacity 0.15s ease;
}

.button > button:hover .button-bg::after {
    opacity: 0.6;
}

.button > button .button-text {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 20pt;
    line-height: 50px;
    text-align: center;
    display: block;
}
