


.code-bt {

    cursor: pointer;
    transition: all 0.1s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2vw;
    aspect-ratio: 1/1;
    background: transparent;
    &>img{
        width: 90%;
    }
    &:hover{
        filter: brightness(10);
    }

    /*position: absolute;*/
    /*right: 2%;*/
    /*left: 80%;*/
}

.code-bt-hidden {
    opacity: 0 !important;
}