.code:hover {

    cursor: pointer;

}


.code-bt {
    transition: all 0.1s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    background: transparent;
    &>img{
        width: 90%;
    }
    &:hover{
        filter: brightness(10);
    }

    position: absolute;
    left: 90%;
}

.code-bt-hidden {
    opacity: 0 !important;
}