#code-example{
    width: 90%;
    height: 40%;
    background: #0b0b0b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#code-example-label{
    margin-top: 0.4%;
    width: 90%;
    height: 8%;
    display: flex;
    gap: 5%;

    &>button{
        font-size: 12pt;
        height: 100%;
        border: 0 solid;
        background: transparent;
        color: white;
    }
}


#code-example-scroll{
    margin-top:2%;
    width: 90%;
    height: 90%;
    overflow-y:auto;
    scrollbar-width: thin;
}

#code-parser{
    width: 100%;
}