.create-info{
    width: 30%;
    height: 40%;
    background: linear-gradient(#25252590, #25252570);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1%;
    padding: 1%;
    backdrop-filter: blur(50px);
}

.create-info-logo{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: start;

}
.create-info-img{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &>img{
        width: 50%;
    }
}


.create-info-title{
    font: 25pt "Roboto medium";
    color: white;
}
.create-info-text{
    font: 14pt "Roboto Light";
    color: white;
    width: 80%;
    position: relative;
    left: 20%;
}