.example-el{
    text-decoration: none;
    width: 50%;
    height: 15vh;
    position: relative;
    left: 25%;
    margin-top: 5%;
    border-radius: 20px;
    display: flex;
}

.example-el-in{
    padding: 1%;
    width: 100%;
    height: 100%;
    background: var(--fg);
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    justify-content: center;
}
.example-el-h{
    width: 90%;
    font: 20pt Roboto;
    color: white;
}
.example-el-desc{
    color: var(--subtitle);
    width: 90%;
}