#footer{
    width: 100%;
    height: 40%;
    border-top: 2px solid var(--subtitle);

}


#footer-sections{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10%;
    position: relative;
    top: 7%;
}

.footer-section{
    width: 10%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.footer-section-title{
    font: 15pt "Roboto";
    color: white;
    text-align: left;
    width: 100%;
}

.footer-section-buttons{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10%;
}

.footer-button{
    margin-top: 3%;
    background: transparent;
    text-decoration: none;
    &>button{
        background: transparent;

        /*font-size: 15pt;*/
        color: var(--subtitle);
        text-align: left;
    }
}


#footer-main{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 75%;
    left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#footer-main-main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-main-img{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &>img{
        width: 80%;
    }
}
#footer-main-p{
    font-size: 30pt;
    color: white;
}