#nav-bar{
    width: 100%;
    height: 5%;
    display: flex;
    background: linear-gradient(180deg, rgba(0,0,0,0.4), rgba(0,0,0,0.1));
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 50;
}


#nav-buttons{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 0;
    position: absolute;
    left: 50%;
    top: 0;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    text-decoration: none;
    &>button{
        width: 100%;
        height: 100%;
        background: transparent;
        color: white;
        font-size: 13pt;
        transition: 0.2s all;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid #a1a1a1;
            /*background: rgba(255,255,255,0.1);*/
        }
    }
    &> .nav-button-active{
        border-bottom: 1px solid white !important;
    }
}



#nav-general{
    /*margin-top: 2%;*/
    margin-left: 0.5%;
    width: 10%;
    height: 100%;
    display: flex;
    text-decoration: none;
    background: transparent;
    &>button{
        background: transparent;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5%;
        font-size: 13pt;
        color: white;
        &>img{
            height: 80%;
        }
    }
}