#nav-bar{
    width: 100%;
    height: 5%;
    display: flex;
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 50;
}


#nav-buttons{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 0;
    position: absolute;
    left: 50%;
    top: 0;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    text-decoration: none;
    &>button{
        width: 100%;
        height: 100%;
        background: transparent;
        color: white;
        font-size: 13pt;
        border-radius:20pt;
        transition: 0.2s all;
        &:hover{
            background: var(--button);
        }
    }
}

#nav-general{
    width: 10%;
    height: 100%;
    display: flex;
    text-decoration: none;
    background: transparent;
    &>button{
        background: transparent;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 15%;
        font-size: 13pt;
        color: white;
    }
}