.news{
    width: 25%;
    height: 100%;
    background: var(--fg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.news-img{
    width: 100%;
    height: 35%;
    background: var(--button);
}
.news-date{
    font: 14pt "Roboto Light";
    color: var(--subtitle);
    position: relative;
    left: 2%;
    width: 98%;
    overflow: hidden;
}

.news-title{
    font: 20pt "Roboto medium";
    color: white;
    position: relative;
    left: 2%;
    width: 98%;
    overflow: hidden;
}

.news-desc{
    font: 10pt "Roboto";
    color: var(--subtitle);
    position: relative;
    left: 2%;
    width: 98%;
    overflow: hidden;
}
