
.scroll-component {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.scroll-component-in {
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2%;

    &>button{
        background: transparent;
        margin-top: 3vh;
        position: relative;
        left: 5%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-decoration: none;
        color: var(--subtitle);
        white-space: none;
        &:hover {
            color: white;
        }
    }
}