#example-content{
    display: flex;
    width: 100vw;
    flex: 1;
    min-height: 0;
    /*overflow: auto;*/
}
#example-aside{
    width: 15%;
    border-right: 2px solid var(--subtitle);
    /*align-self: stretch;*/
    padding-top: 5%;

}

