#example-main{
    padding: 5% 2%;
    width: 85%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    position: relative;
    margin-left: 10%;
    overflow-y: auto;
    overflow-x:hidden;
}

