#main-fifth-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;

    overflow: visible;
}

#main-fifth-content {
    display: flex;
    width: 87%;
    height: 100%;
    justify-content: start;
    gap: 30%;
}

#main-fifth-desc {
    width: 23%;
    height: 80%;
    font-size: 15pt;
    color: var(--subtitle);
    justify-content: start;
    align-items: center;
    display: flex;


}

#main-fifth-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    margin-top: 15%;
    gap: 0 10px;
    padding: 0;
    z-index: 20;

}


#main-fifth-title {
    top: 10%;
}


.main-fifth-logo {
    width: 20%;
    height: 25%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 5%;
    position: relative;
    opacity: 1;
}

.main-fifth-logo-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--fg);
    opacity: 0.9;
    backdrop-filter: blur(100px);
}

.main-fifth-logo-img {
    width: 20%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    z-index: 20;
    & > img {
        width: 90%;
    }
}

.main-fifth-logo-p {
    font: 15pt Roboto;
    color: white;
    z-index: 20;
}