#main-first-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;

}

#main-first-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

#main-logo {
    /*background: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    /*margin: 10% 0;*/
    /*border-radius: 40px;*/
    gap: 1%;
}

#main-title {
    color: white;
    font-size: 100pt;
    font-family: "Roboto Medium", serif;
}

#main-subtitle {
    color: #979797;
    font-size: 20pt;
    font-family: "Roboto", serif;
    width: 70%;
}

#main-annotation {
    color: #979797;
    margin-top: 2%;
    font-size: 18pt;
    font-family: "Roboto Light", serif;
    width: 70%;
}

#main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 25%;
    gap: 15%;
    position: relative;
    bottom: 5%;
}

#main-first-img {
    width: 50%;

    & > img {
        width: 80%;
        position: absolute;
        top: 10%;
        left: 32%;
    }
}

#main-first-img2 {
    position: relative;
    top: 5%;
    height: 60%;
    width: 45%;
    background: #050505;

}


#main-first-code {
    padding: 3%;
    border-radius: 40px;
    position: absolute;
    width: 45%;
    height: 65%;
    left: 50%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    & * {
        font-size: 25pt;
    }

    background: #030303;
}