#main-first-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;

}

#main-first-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

#main-logo {
    /*background: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    /*margin: 10% 0;*/
    /*border-radius: 40px;*/
    gap: 1%;
}

#main-title {
    color: white;
    font-size: 100pt;
    font-family: "Roboto Medium", serif;
    text-align: center;
}

#main-subtitle {
    color: #979797;
    font-size: 20pt;
    font-family: "Roboto", serif;
    width: 70%;
}

#main-annotation {
    color: #979797;
    margin-top: 2%;
    font-size: 18pt;
    font-family: "Roboto Light", serif;
    width: 70%;
}

#main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 25%;
    gap: 15%;
    position: relative;
    bottom: 5%;
}

#main-first-img {
    width: 50%;

    & > img {
        width: 80%;
        position: absolute;
        top: 10%;
        left: 32%;
    }
}

#main-first-img2 {
    position: relative;
    top: 5%;
    height: 60%;
    width: 45%;
    background: #050505;

}


#main-first-code {
    border: 2px solid #575757;
    padding: 3%;
    border-radius: 40px;
    position: absolute;
    width: 55%;
    height: 75%;
    left: 50%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    mask-mode: alpha;
    overflow: hidden;
    /*mask-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4), rgba(0,0,0,0.05),  rgba(0,0,0,0));*/
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0, rgba(0,0,0,0) 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    /*-webkit-mask-image: linear-gradient(to bottom,rgba(0,0,0,1), rgba(0,0,0,40%), rgba(0,0,0,5%),  rgba(0,0,0,0));*/

    & * {
        font-size: 30pt;
    }

    background: #030303;


    /*&::after{*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    inset: 0;*/
    /*    pointer-events: none;*/
    /*    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.4),rgba(0,0,0,0.2), rgba(0,0,0,0));*/
    /*}*/
}


