#examples-start-page{
    width: 100%;
    height: 100vh;
    overflow: scroll;;
}

#examples-start-p{
    width: 100%;
    margin-top: 10%;
    text-align: center;
    color: white;
    font: 30pt "Roboto medium";
}

.examples-start-div{
    width: 25%;
    height: 15vh;
    background: var(--fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: calc(75%/2);
    margin-top: 10%;
    color: var(--subtitle);
    border-radius: 20px;
}


#examples-start-examples{
    width: 100%;
    margin-top: 5vh;
    /*height: 500vh;*/
    /*overflow: scroll;;*/

}

