#lesson-aside{
    width: 20%;
    border-left: 1px solid var(--subtitle);
    height: 100%;
    overflow: visible;
}

#lesson-aside-in, #lesson-content-left-in{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2%;
    margin-top: 30%;
    overflow-y: scroll;
    &>a{
        position: relative;
        left: 5%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-decoration: none;
        color: var(--subtitle);
        white-space: none;
        &:hover{
            color: white;
        }
    }
}

#lesson-content-left{
    width: 20%;
    border-right: 1px solid var(--subtitle);
    height: 100%;
    overflow: visible;
}


.lesson-aside-selected{
    color: #0d55b4;
}