#lesson-aside {
    width: 20%;
    height: 100%;
    /*min-height: 0;*/
    padding-top: 5vh;
    flex: 0 0 20%;
}
#lesson-aside-p{
    color: white;
    margin: 9% 0 3% 0;
    padding-left: 5%;

}

#lesson-aside-scroll {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}
#lesson-aside-buttons{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5%;
    padding-top: 10%;
    padding-left: 10%;
}
.lesson-aside-bt{
    background: transparent;
    border: 0 solid;
    color: var(--subtitle);
    transition: all 0.5s;

    &:hover{
        color: white;
    }
}

#lesson-aside-in {
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2%;

    & > button {
        background: transparent;
        margin-top: 3vh;
        position: relative;
        left: 5%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-decoration: none;
        color: var(--subtitle);
        white-space: none;

        &:hover {
            color: white;
        }
    }
}


#lesson-content-left-in {
    width: 100%;
    /*height: 90%;*/
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2%;
    margin-top: 30%;

    & > a {
        margin-top: 3vh;
        position: relative;
        left: 5%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-decoration: none;
        color: var(--subtitle);
        white-space: none;

        &:hover {
            color: white;
        }
    }
}


#lesson-content-left {
    width: 20%;
    /*border-right: 1px solid var(--subtitle);*/
    /*height: 100%;*/
    min-height: 0;
    overflow: visible;
    overflow-y: scroll;
}


.lesson-aside-selected {
    color: #0d55b4;
}